h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2rem;
}

h2 {
    font-family: 'Amatic SC', cursive;
    color: blanchedalmond !important;
}

.p-4 {
    background-color: #000!important;
    color: rgb(255, 255, 255) !important;
    font-family: 'Righteous', cursive;
}

:root {
    --primary:hsl(198, 43%, 11%);
    --secondary:hsl(195, 35%, 19%, 0.65);
    --third: hsl(197, 38%, 28%);
}

body {
    background: linear-gradient(135deg, var(--primary), var(--secondary), var(--third)) no-repeat ,
                url("https://e0.pxfuel.com/wallpapers/269/736/desktop-wallpaper-black-space-drawing-art-planet-space-drawing-stars-black-space-galaxy-outer-space.jpg")
                ;
    width: 100%;
    height: 100vh;
    padding: 100px;
}

.btn:hover {
    position: relative;
    top: 5px;
    left: 5px;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

h1 {
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

span {
    font-size: 2rem;
    padding-bottom: 20px;
}


